<% if (post.link){ %>
  <h1 itemprop="name">
    <a class="<%= class_name %>" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %>
      <%if(post.top){%>
          <span class="title-pop-out">[置顶]</a>
      <% } %>
    </a>
  </h1>
<% } else if (post.title){ %>
  <% if (index){ %>
    <h1 itemprop="name">
      <a class="<%= class_name %>" href="<%- url_for(post.path) %>">
        <%= post.title %>
        <%if(post.top){%>
          <span class="title-pop-out">[置顶]</a>
        <% } %>
      </a>
    </h1>
  <% } else { %>
    <h1 class="<%= class_name %>" itemprop="name">
      <%= post.title %>
      <%if(post.top){%>
          <span class="title-pop-out">[置顶]</a>
      <% } %>
    </h1>
  <% } %>
<% } %>