<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;
  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }

  var pageKeywords = page.keywords;
  var configKeywords = config.keywords;
  var keywords;
  if (pageKeywords && configKeywords) {
    keywords = pageKeywords + ',' + configKeywords;
  } else if (pageKeywords) {
    keywords = pageKeywords;
  } else if (configKeywords) {
    keywords = configKeywords;
  }
  %>
  <title><% if (keywords) { %><%= keywords %>-<% } %><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

  <!-- keywords -->
  <% if (keywords) { %>
    <meta name="keywords" content="<%= keywords %>">
  <% } %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <%- css('css/style') %>
  <%- partial("baidu_tongji") %>
  <%- partial("google_analytics") %>
  <%- js('//cdn.bootcss.com/require.js/2.3.2/require.min.js') %>
  <%- js('//cdn.bootcss.com/jquery/3.1.1/jquery.min.js') %>

  <% if (theme.leancloud_visitors.enable){ %>
      <%- partial('../_widget/Counter') %>
  <% } %>
</head>